<!DOCTYPE html>
<!-- templates/home.html -->
<html>
<head>
    <link rel="stylesheet" href= {{url_for('static', filename ='style.css')}}/>
    <a href = "{{url_for('logout')}}">Logout</a>
    <title>Random Movie Info</title>
</head>
<body>
    <div class="row">
        <div class="column">
          <h1><img src ="{{poster}}"></img></h1>
          <h1>{{random_movie.title}}</h1>
          <h2>{{random_movie.tagline}}</h2>
          <h3>Genres: {{movie_genres}}</h3>
          <h4><a href="{{wiki_link}}">Wikipedia Page</a></h4>
        </div>
        <div class="column">
            <h1> User Comments</h1>
            <form action="#" method = 'post'>
              <label for="id">Movie Id: ):</label>
              <input type="text" name="id" value="{{random_movie.id}}"readonly><br>
              <label for="rating">Rating(Out Of 10):</label>
              <input type="text" name = "rating"><br><br>
              <textarea rows = "5" cols = "50" name = "message">
              Leave a comment
             </textarea><br>
              <input type="submit" value="Submit">
            </form> 
            {% for comment in comments %}
            <h2>Rating: {{comment.rating}}/10</h2>
            <h3>Username: {{comment.name}}</h3>
            <p>{{comment.message}}</p>
            {% endfor %}
        </div>
      </div>
      
</body>
</html>
